<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"_oikt_recording"} /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"_oikt_track"} /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"composer"} /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"_oikt_duration"} /-->

<!-- wp:post-content /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"_oikt_original","showLabel":false,"fontSize":"medium"} /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"other_versions","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"nav","align":"wide","style":{"border":{"top":{"color":"var:preset|color|accent-6","width":"1px"}},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<nav class="wp-block-group alignwide" aria-label="Post navigation" style="border-top-color:var(--wp--preset--color--accent-6);border-top-width:1px;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow"} /--></nav>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->