<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:sb/parent-block {"noparent":"."} /-->

<!-- wp:post-title {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-recording","fieldName":"_oikt_year","showLabel":false,"style":{"typography":{"lineHeight":"1.5"},"spacing":{"padding":{"top":"6px","bottom":"0"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"35%"} -->
<div class="wp-block-column" style="flex-basis:35%"><!-- wp:post-featured-image {"style":{"shadow":"var:preset|shadow|sharp"}} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"format"} /-->

<!-- wp:post-terms {"term":"recording-type"} /--></div>
<!-- /wp:group -->

<!-- wp:oiksb/sb-field-block {"postType":"oik-recording","fieldName":"_oikt_wikipedia","showLabel":false,"fontSize":"medium"} /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-recording","fieldName":"_oikt_cocacamp","showLabel":false,"fontSize":"medium"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"65%"} -->
<div class="wp-block-column" style="flex-basis:65%"><!-- wp:query {"queryId":1,"query":{"perPage":20,"pages":0,"offset":0,"postType":"oik-track","order":"asc","orderBy":"meta_value_num","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"include_posts":[],"meta_query":{"queries":[{"id":"e8f5c5bb-80af-48f4-845e-242cb8a093df","meta_key":"_oikt_track","meta_value":"","meta_compare":"\u003e="},{"id":"72dc05fc-9065-4684-b189-6419bc8cd14b","meta_key":"_oikt_recording","meta_value":".","meta_compare":"IN"}],"relation":"AND"},"post_parent":"caravan-2025//single-oik-recording"},"namespace":"advanced-query-loop"} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"fontSize":"medium"} -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"_oikt_track","showLabel":false,"fontSize":"medium"} /-->

<!-- wp:post-title {"level":3,"isLink":true,"fontSize":"medium"} /-->

<!-- wp:oiksb/sb-field-block {"postType":"oik-track","fieldName":"_oikt_duration","showLabel":false,"fontSize":"medium"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:oik-sb/children /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"></div>
<!-- /wp:group --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:group {"tagName":"nav","align":"wide","style":{"border":{"top":{"color":"var:preset|color|accent-6","width":"1px"}},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<nav class="wp-block-group alignwide" aria-label="Post navigation" style="border-top-color:var(--wp--preset--color--accent-6);border-top-width:1px;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow"} /--></nav>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->